<fieldset>
  <legend>New Question</legend>
  <form (submit)='onSubmit(newQuestion)' #newQuestion='ngForm'>
    <div class="form-group">
      <label for="questiontitle">Question:</label>
      <input id='questiontitle' type="text" class="form-control" name='questiontitle' [(ngModel)]='question.questiontitle' #questiontitle='ngModel' minlength='10' required>

      <div *ngIf='(questiontitle.touched || questiontitle.dirty) && questiontitle.errors'>
        <div *ngIf='questiontitle.errors.required' class='alert alert-danger'>You must enter a question</div>
        <div *ngIf='questiontitle.errors.minlength' class='alert alert-danger'>Question must be at least {{questiontitle.errors.minlength.requiredLength}} characters in length.  You only have {{questiontitle.errors.minlength.actualLength}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="desc">Description(Optional):</label>
      <input id='desc' type="text" name='desc' [(ngModel)]='question.desc' #desc='ngModel' class="form-control">
    </div>
  <div>
    <button [disabled]='newQuestion.invalid' [hidden]='newQuestion.invalid' class="btn btn-md btn-success">Submit</button>
    <button routerLink='/home' (click)='this.question = null' class='btn btn-md  btn-success'>Cancel</button>
  </div>
  </form>
</fieldset>
